<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.terms.mapper.TermsMapper">

    <insert id="insertAgreements">
        INSERT INTO member_terms_agree (member_no, terms_no, is_agreed)
        VALUES
        <foreach collection="agreements" item="agree" separator=",">
            (#{memberNo}, #{agree.termsNo},
            <choose>
                <when test="agree.agreed">'Y'</when>
                <otherwise>'N'</otherwise>
            </choose>)
        </foreach>
    </insert>

    <select id="getSignupTerms" resultType="org.scoula.terms.domain.TermsVO">
        SELECT terms_no, title, content, is_required, terms_type, version
        FROM terms
        WHERE terms_type = 'SIGNUP'
        ORDER BY terms_no
    </select>
</mapper>