.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.idea

*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

## test file ignore
src/test

# local config
src/main/resources/application.properties

# IntelliJ local database config
.idea/material_theme_project_new.xml
.idea/sqldialects.xml
.idea/.name

api.http

