<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.benefit.mapper.BenefitMapper">

    <insert id="upsertBenefit" parameterType="org.scoula.benefit.domain.BenefitVO">
        INSERT INTO benefit (
        plcy_no,
        plcy_nm,
        category_code,
        sprvsn_inst_cd_nm,
        target_desc,
        plcy_sprt_cn,
        support_amount,
        plcy_aply_mthd_cn,
        sbmsn_dcmnt_cn,
        apply_start_date,
        apply_end_date,
        aply_ymd,
        aply_prd_se_cd,
        aply_url_addr,
        sprt_trgt_min_age,
        sprt_trgt_max_age,
        earn_cnd_se_cd,
        earn_min_amt,
        earn_max_amt,
        earn_etc_cn,
        mrg_stts_cd,
        conflict_group_code,
        inq_cnt,
        is_active,
        frst_reg_dt,
        last_mdfcn_dt,
        plcy_expln_cn
        )

        VALUES (
        #{plcyNo},
        #{plcyNm},
        #{categoryCode},
        #{sprvsnInstCdNm},
        #{targetDesc},
        #{plcySprtCn},
        #{supportAmount},
        #{plcyAplyMthdCn},
        #{sbmsnDcmntCn},
        #{applyStartDate},
        #{applyEndDate},
        #{aplyYmd},
        NULLIF(TRIM(#{aplyPrdSeCd}), ''),
        #{aplyUrlAddr},
        #{sprtTrgtMinAge},
        #{sprtTrgtMaxAge},
        NULLIF(TRIM(#{earnCndSeCd}), ''),
        #{earnMinAmt},
        #{earnMaxAmt},
        #{earnEtcCn},
        NULLIF(TRIM(#{mrgSttsCd}), ''),
        #{conflictGroupCode},
        IFNULL(#{inqCnt}, 0),
        IFNULL(#{isActive}, 'Y'),
        IFNULL(#{frstRegDt}, NOW()),
        NOW(),
        #{plcyExplnCn}
        )
        ON DUPLICATE KEY UPDATE
        plcy_nm = VALUES(plcy_nm),
        category_code = VALUES(category_code),
        sprvsn_inst_cd_nm = VALUES(sprvsn_inst_cd_nm),
        target_desc = VALUES(target_desc),
        plcy_sprt_cn = VALUES(plcy_sprt_cn),
        support_amount = VALUES(support_amount),
        plcy_aply_mthd_cn = VALUES(plcy_aply_mthd_cn),
        sbmsn_dcmnt_cn = VALUES(sbmsn_dcmnt_cn),
        apply_start_date = VALUES(apply_start_date),
        apply_end_date = VALUES(apply_end_date),
        aply_ymd = VALUES(aply_ymd),
        aply_prd_se_cd = NULLIF(TRIM(VALUES(aply_prd_se_cd)), ''),
        aply_url_addr = VALUES(aply_url_addr),
        sprt_trgt_min_age = VALUES(sprt_trgt_min_age),
        sprt_trgt_max_age = VALUES(sprt_trgt_max_age),
        earn_cnd_se_cd = NULLIF(TRIM(VALUES(earn_cnd_se_cd)), ''),
        earn_min_amt = VALUES(earn_min_amt),
        earn_max_amt = VALUES(earn_max_amt),
        earn_etc_cn = VALUES(earn_etc_cn),
        mrg_stts_cd = NULLIF(TRIM(VALUES(mrg_stts_cd)), ''),
        inq_cnt = VALUES(inq_cnt),
        is_active = VALUES(is_active),
        last_mdfcn_dt = NOW(),
        plcy_expln_cn = VALUES(plcy_expln_cn)
    </insert>
    <select id="findBenefitNoByPlcyNo" parameterType="string" resultType="int">
        SELECT benefit_no
        FROM benefit
        WHERE plcy_no = #{plcyNo}
    </select>

    <delete id="deleteBenefitRegions" parameterType="int">
        DELETE FROM benefit_region
        WHERE benefit_no = #{benefitNo}
    </delete>

    <delete id="deleteBenefitMajors" parameterType="int">
        DELETE FROM benefit_major
        WHERE benefit_no = #{benefitNo}
    </delete>

    <delete id="deleteBenefitSchools" parameterType="int">
        DELETE FROM benefit_school
        WHERE benefit_no = #{benefitNo}
    </delete>

    <delete id="deleteBenefitJobs" parameterType="int">
        DELETE FROM benefit_job
        WHERE benefit_no = #{benefitNo}
    </delete>

    <insert id="insertBenefitRegion">
        INSERT IGNORE INTO benefit_region (
        benefit_no,
        zip_cd
        )
        SELECT
        #{benefitNo},
        #{zipCd}
        FROM DUAL
        WHERE EXISTS (
        SELECT 1
        FROM region
        WHERE zip_cd = #{zipCd}
        )
    </insert>

    <insert id="insertBenefitMajor">
        INSERT INTO benefit_major (
        benefit_no,
        plcy_major_cd
        ) VALUES (
        #{benefitNo},
        #{plcyMajorCd}
        )
    </insert>

    <insert id="insertBenefitSchool">
        INSERT INTO benefit_school (
        benefit_no,
        school_cd
        ) VALUES (
        #{benefitNo},
        #{schoolCd}
        )
    </insert>

    <insert id="insertBenefitJob">
        INSERT INTO benefit_job (
        benefit_no,
        job_cd
        ) VALUES (
        #{benefitNo},
        #{jobCd}
        )
    </insert>

    <select id="existsRegion" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM region
        WHERE zip_cd = #{zipCd}
    </select>

    <select id="existsBenefitByPlcyNo" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM benefit
        WHERE plcy_no = #{plcyNo}
    </select>


<!--    테스트 설정시 last_mdfcn_dt = NOW()   -->
    <update id="updateBenefitStatusOnly">
        UPDATE benefit
        SET
        inq_cnt = #{inqCnt},
        is_active = #{isActive},
        last_mdfcn_dt = NOW()
        WHERE plcy_no = #{plcyNo}
    </update>

<!--카테고리 필터 -->
    <select id="findBenefitCategories"
            resultType="org.scoula.benefit.dto.BenefitCategoryResDTO">
        SELECT
        category_code AS categoryCode,
        category_name AS categoryName,
        display_order AS displayOrder
        FROM benefit_category
        ORDER BY display_order ASC
    </select>


    <!-- 지역필터-->
    <select id="findRegion"
            resultType="org.scoula.benefit.dto.BenefitRegionResDTO">

        SELECT
        r.zip_cd AS zipCd,
        r.region_name AS regionName,
        r.parent_region_code AS parentRegionCode,

        CASE
        WHEN EXISTS (
        SELECT 1
        FROM region child
        WHERE child.parent_region_code = r.zip_cd
        )
        THEN TRUE
        ELSE FALSE
        END AS hasChildren

        FROM region r

        <choose>
            <when test="parentRegionCode == null or parentRegionCode == ''">
                WHERE r.parent_region_code IS NULL
            </when>

            <otherwise>
                WHERE r.parent_region_code = #{parentRegionCode}
            </otherwise>
        </choose>

        ORDER BY r.zip_cd ASC
    </select>

<!--    검색 조회-->
    <select id="findBenefit"
            parameterType="org.scoula.benefit.dto.BenefitFilterReqDTO"
            resultType="org.scoula.benefit.dto.BenefitListResDTO">

        <if test="zipCd != null and zipCd != ''">
            WITH RECURSIVE region_scope AS (
            SELECT
            r.zip_cd,
            r.parent_region_code
            FROM region r
            WHERE r.zip_cd = #{zipCd}

            UNION ALL

            SELECT
            child.zip_cd,
            child.parent_region_code
            FROM region child
            INNER JOIN region_scope parent
            ON child.parent_region_code = parent.zip_cd
            )
        </if>

        SELECT
        b.benefit_no AS benefitNo,
        b.plcy_no AS plcyNo,
        b.plcy_nm AS plcyNm,
        b.category_code AS categoryCode,
        bc.category_name AS categoryName,
        b.sprvsn_inst_cd_nm AS sprvsnInstCdNm,
        b.apply_start_date AS applyStartDate,
        b.apply_end_date AS applyEndDate,
        b.aply_prd_se_cd AS aplyPrdSeCd,
        b.is_active AS isActive,

        CASE
        WHEN b.apply_end_date IS NULL
        THEN 'ALWAYS'

        WHEN b.apply_end_date &lt; CURDATE()
        THEN 'CLOSED'

        ELSE 'OPEN'
        END AS benefitStatus

        FROM benefit b
        JOIN benefit_category bc
        ON b.category_code = bc.category_code

        WHERE 1 = 1

        <if test="categoryCode != null and categoryCode != ''">
            AND b.category_code = #{categoryCode}
        </if>

        <if test="keyword != null and keyword != ''">
            AND (
            b.plcy_nm LIKE CONCAT('%', #{keyword}, '%')
            OR b.plcy_expln_cn LIKE CONCAT('%', #{keyword}, '%')
            OR b.plcy_sprt_cn LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>

        <if test="zipCd != null and zipCd != ''">
            AND EXISTS (
            SELECT 1
            FROM benefit_region br
            WHERE br.benefit_no = b.benefit_no
            AND br.zip_cd IN (
            SELECT zip_cd
            FROM region_scope
            )
            )
        </if>


<!-- 1.마감전 혜택 2.상시 3. 마감된 혜택 순서 -->
        ORDER BY
        CASE
        WHEN b.apply_end_date IS NOT NULL
        AND b.apply_end_date &gt;= CURDATE()
        THEN 0

        WHEN b.apply_end_date IS NULL
        THEN 1

        ELSE 2
        END ASC,

        CASE
        WHEN b.apply_end_date IS NOT NULL
        AND b.apply_end_date &gt;= CURDATE()
        THEN b.apply_end_date
        END ASC,

        b.benefit_no DESC
    </select>

</mapper>