<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.benefit.mapper.BenefitMapper">

    <insert id="upsertBenefit" parameterType="org.scoula.benefit.domain.BenefitVO">
        INSERT INTO benefit (
        plcy_no,
        plcy_nm,
        category_code,
        sprvsn_inst_cd_nm,
        target_desc,
        plcy_sprt_cn,
        support_amount,
        plcy_aply_mthd_cn,
        sbmsn_dcmnt_cn,
        apply_start_date,
        apply_end_date,
        aply_ymd,
        aply_url_addr,
        sprt_trgt_min_age,
        sprt_trgt_max_age,
        earn_cnd_se_cd,
        earn_min_amt,
        earn_max_amt,
        earn_etc_cn,
        mrg_stts_cd,
        plcy_major_cd,
        school_cd,
        job_cd,
        conflict_group_code,
        inq_cnt,
        is_active,
        frst_reg_dt,
        last_mdfcn_dt,
        plcy_expln_cn
        ) VALUES (
        #{plcyNo},
        #{plcyNm},
        #{categoryCode},
        #{sprvsnInstCdNm},
        #{targetDesc},
        #{plcySprtCn},
        #{supportAmount},
        #{plcyAplyMthdCn},
        #{sbmsnDcmntCn},
        #{applyStartDate},
        #{applyEndDate},
        #{aplyYmd},
        #{aplyUrlAddr},
        #{sprtTrgtMinAge},
        #{sprtTrgtMaxAge},
        #{earnCndSeCd},
        #{earnMinAmt},
        #{earnMaxAmt},
        #{earnEtcCn},
        #{mrgSttsCd},
        #{plcyMajorCd},
        #{schoolCd},
        #{jobCd},
        #{conflictGroupCode},
        IFNULL(#{inqCnt}, 0),
        IFNULL(#{isActive}, 'Y'),
        IFNULL(#{frstRegDt}, NOW()),
        NOW(),
        #{plcyExplnCn}
        )
        ON DUPLICATE KEY UPDATE
        plcy_nm = VALUES(plcy_nm),
        category_code = VALUES(category_code),
        sprvsn_inst_cd_nm = VALUES(sprvsn_inst_cd_nm),
        target_desc = VALUES(target_desc),
        plcy_sprt_cn = VALUES(plcy_sprt_cn),
        support_amount = VALUES(support_amount),
        plcy_aply_mthd_cn = VALUES(plcy_aply_mthd_cn),
        sbmsn_dcmnt_cn = VALUES(sbmsn_dcmnt_cn),
        apply_start_date = VALUES(apply_start_date),
        apply_end_date = VALUES(apply_end_date),
        aply_ymd = VALUES(aply_ymd),
        aply_url_addr = VALUES(aply_url_addr),
        sprt_trgt_min_age = VALUES(sprt_trgt_min_age),
        sprt_trgt_max_age = VALUES(sprt_trgt_max_age),
        earn_cnd_se_cd = VALUES(earn_cnd_se_cd),
        earn_min_amt = VALUES(earn_min_amt),
        earn_max_amt = VALUES(earn_max_amt),
        earn_etc_cn = VALUES(earn_etc_cn),
        mrg_stts_cd = VALUES(mrg_stts_cd),
        plcy_major_cd = VALUES(plcy_major_cd),
        school_cd = VALUES(school_cd),
        job_cd = VALUES(job_cd),
        inq_cnt = VALUES(inq_cnt),
        is_active = VALUES(is_active),
        last_mdfcn_dt = NOW(),
        plcy_expln_cn = VALUES(plcy_expln_cn)
    </insert>

</mapper>