<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mypage.mapper.MemberProfileMapper">
    <insert id="insert">
        INSERT INTO member_profile
        (member_no, birth_date, region_code, income,
         employ_status, major, household_size, education, mrg_stts_cd)
        VALUES
            (#{memberNo}, #{birthDate}, #{regionCode}, #{income},
             #{employStatus}, #{major}, #{householdSize}, #{education}, #{mrgSttsCd})
    </insert>
    <update id="update">
        UPDATE member_profile
        SET birth_date = #{birthDate},
        region_code    = #{regionCode},
        income         = #{income},
        employ_status  = #{employStatus},
        major          = #{major},
        household_size = #{householdSize},
        education      = #{education},
        mrg_stts_cd    = #{mrgSttsCd},
        updated_at     = NOW()
        WHERE member_no = #{memberNo}
    </update>
    <select id="get" resultType="org.scoula.mypage.domain.MemberProfileVO">
        SELECT member_no, birth_date, region_code, income,
               employ_status, major, household_size, education,
               mrg_stts_cd, profile_img_path, updated_at
        FROM member_profile
        WHERE member_no = #{memberNo}
    </select>
</mapper>